/*-- universal --*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color:blue;
}

a:hover {
    color: indigo;
}

/*-- index.html --*/

.index-container {
    border: 2px solid #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.index-container h1 {
    text-align: center;
    padding-bottom: 5px;
}

